:root{
    --border-color: rgb(209, 209, 209);
    --border-color-bold: rgb(136, 136, 136);
    --shadow-color: rgb(195, 194, 194);
    --text-color: rgb(51, 51, 51);
    --bg-color: rgb(255, 255, 255);
    --bg-color-dark: rgb(200, 200, 200);
}
* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    text-align: center;
}

.container {
    width: 450px;
    margin: 0 auto;
    background-color: green;
}
.game-div {
    width: 150px;
    height: 150px;
    float: left;
    border: 0.1px solid var(--border-color-bold);
    font-size: 5em;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    transition-duration: 500ms;
    user-select: none;
}
.info{
    background-color: blue;
    padding: 5px 10px;
    color: aliceblue;
    margin: 5px;
    width: max-content;
    float: left;
}
.game-div:hover {
    transition-duration: 500ms;
    background-color: lightgreen;
}
.timer{
    text-align: center;
    color: var(--text-color);
    font-size: 1.5em;
}
input{
    padding: 5px;
    border: 1px solid var(--border-color-bold);
    border-radius: 4px;
    color: var(--text-color);
}
.btn{
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    color: var(--text-color);
}
.center-box{
    display: none;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 10px 2px 15px var(--shadow-color);
    padding: 20px;
    justify-content: center;
    gap: 20px;
    width: 70%;
    background-color: var(--bg-color);
    position: absolute;
    left: 15%;
    top: 30%;
}
@media screen and (max-width: 600px) {
    .container {
        width: 300px;
    }
    .game-div {
        height: 100px;
        width: 100px;
    }
    .center-box{
        width: 100%;
        left: 0;
    }
    .info{
        margin: 5px;
    }
}